p {
    color: rgb(0,0,0);
	padding-top: 12;
	padding-bottom: 12;
}
body {
    font-size: 1em;
    color: rgb(255,200,200);
	background-color: rgb(150,150,100);
}
nav ul {
	list-style-type: none; 
	margin: 0;
	padding: 0;
	width: 150px;
	background-color: rgb(205,210,215);
	position: fixed; 
}
nav ul li a {
	display: block;
	width: 150px;
	text-decoration: none;
	padding-top: 8px;
	padding-left: 15px; 
}
nav ul li a {
	background-color: #555;
	color: rgb (100,100,100);
}
nav {
	background-color: rgb(100,50,30);
}
h1 { 
	background-color: rgb(40,80,32);
	text-align: center;
	border: 5px;
	margin-left: 10%;
	margin-right: 10%;
	padding-bottom: 5%;
	padding-top: 5%;
} 

#maincontent {
	margin-right: 75px;
	margin-left: 170px;
	padding-left: 25px;
	background-color: rgb(200,255,200)
}

.active {
	background-color:#4caf50;
	color: rgb (255,255,255);
}

@media screen and (max-width: 600px) {
	nav {
		display: none;
	}
	h1 {
		margin-left: 15%;
	}
	#maincontent {
		margin-right: 5%;
		margin-left: 15%;
	}
}